<nb-layout>
    <nb-layout-header>
        <div class="header-container">
            <div class="logo-container">
                <div style="background-color: black; border-radius: 5px; padding: 5px;">
                    <img src="../../../../assets/getFix/Grupo 3.png" width="120px" alt="" srcset="">
                </div>
            </div>
        </div>
        <div style="padding-left: 10px;">

            <span>Solve the test</span>
        </div>

    </nb-layout-header>
    <nb-layout-column>

        <router-outlet></router-outlet>

    </nb-layout-column>
    <nb-layout-footer>
        <span class="created-by">
            Created by <b><a href="https://akveo.page.link/8V2f" target="_blank">Fractal Team</a></b> 2020
        </span>
        <div class="socials">
            <a href="#" target="_blank" class="ion ion-social-github"></a>
            <a href="#" target="_blank" class="ion ion-social-facebook"></a>
            <a href="#" target="_blank" class="ion ion-social-twitter"></a>
            <a href="#" target="_blank" class="ion ion-social-linkedin"></a>
        </div>
    </nb-layout-footer>
</nb-layout>