<div class="gfix-form">
    <nb-card>
        <nb-card-body>
            <form [formGroup]="courseForm" (ngSubmit)="onSubmit()" [nbSpinner]="doingSomething"
                nbSpinnerStatus="primary">
                <label class="label" for="">Name:</label>
                <input type="text" nbInput fullWidth fieldSize="small" shape="rectangle" placeholder="Name" name="name"
                    formControlName="name">

                <div class="row"
                    style="padding-top: 15px; position: fixed; bottom: 7px; width: 90%; text-align: center;">
                    <div class="col-6 col-md-6" *ngIf="course.id" style="text-align: end;">
                        <input nbButton outline status="primary" size="small" type="submit" name="enviar" value="Update"
                            [disabled]="!courseForm.valid">
                    </div>
                    <div class="col-6 col-md-6" *ngIf="!course.id" style="text-align: end;">
                        <input nbButton outline status="primary" size="small" type="submit" name="enviar" value="Create"
                            [disabled]="!courseForm.valid">
                    </div>
                    <div class="col-6 col-md-6" style="text-align: initial;">
                        <button nbButton outline status="danger" size="small" type="button"
                            (click)="cancel()">Cancel</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 gfix-center">
                        <label for="categoryId" class="label">Category:</label> <br>
                        <nb-select formControlName="categoryId" (selectedChange)="onChange($event)" size="small"
                            [selected]="course.categoryId" placeholder="Choose a Category" [ngStyle]="{'width':'100%'}">

                            <nb-option *ngFor="let category of categoriesByCourse; let i =index" [value]="category.id">
                                {{i+1 +' - '+category.name}}
                            </nb-option>
                        </nb-select> <br>
                    </div>
                    <div class="col-md-2 gfix-center ">
                        <label for="active" class="label">Active:</label>
                        <div class="validation-checkboxes">
                            <nb-checkbox (checkedChange)="toggle($event)" name="active" formControlName="active"
                                style="width: 100%; text-align: center;" status="primary" [ngClass]="{'status-danger':!courseActive,
                              'status-success':courseActive}">
                                <span [ngClass]="{'gfix-active': courseActive,
                                     'gfix-disabled': !courseActive }">{{courseActive}}</span>
                            </nb-checkbox>
                        </div>
                    </div>
                    <div class="col-md-4 gfix-center">
                        <label for="active" class="label">
                            Total questions: {{questions.value.length}}
                        </label> <br>
                        <div style="text-align: center;">
                            <button id="addCourse" type="button" size="small" nbButton status="primary"
                                (click)="addElement($event.target)">
                                <nb-icon icon="plus-square-outline"></nb-icon>
                                Add course
                            </button>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
                        <nb-accordion multi formArrayName="questions">
                            <nb-accordion-item *ngFor="let question1 of questions.controls; let i = index"
                                [formGroupName]="i">

                                <nb-accordion-item-header style="padding-bottom: 4px;padding-top: 4px;">
                                    <div class="col-sm-1">
                                        <i class="fas fa-window-close fa-2x" id="removeQuestion_{{i}}"
                                            (click)="removeElement($event.target)"
                                            style="cursor: pointer; color: #dc3545; padding-right: 5px;"
                                            nbTooltip="Remove Question {{i+1}}" nbTooltipStatus="danger"></i>
                                    </div>
                                    <div class="col-sm-2 col-form-label" style="align-items: center;
                                    display: inline-flex;">
                                        <label class="label " for="">Question:</label>
                                    </div>
                                    <div class="col-sm-8 pl-0">
                                        <input type="text" nbInput fullWidth fieldSize="small" shape="rectangle"
                                            placeholder="Name" name="name" formControlName="name"
                                            (click)="stopDefAction($event)">
                                    </div>
                                    <span class="col-sm-1 label"> {{i+1}}</span>


                                </nb-accordion-item-header>
                                <nb-accordion-item-body formArrayName="answers">
                                    <!-- {{question1.value.answers[0] | json}} -->
                                    <div class="row pb-2">
                                        <div class="col-2">
                                            <hr style="margin: 10px;">
                                        </div>

                                        <div class="col-5">
                                            <label class="label">
                                                Total answers: {{question1.controls.answers.value.length}}
                                            </label>
                                        </div>
                                        <div class="col-5">
                                            <div style="text-align: center;">
                                                <button id="addAnswer_{{i}}" type="button" size="tiny" nbButton
                                                    status="primary" (click)="addElement($event.target)">
                                                    <nb-icon icon="plus-square-outline"></nb-icon>
                                                    Add answer
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row"
                                        *ngFor="let answer of question1.controls.answers.controls; let in = index"
                                        [formGroupName]="in">

                                        <div class="col-1">
                                            <i class="fa fa-minus-square fa-2x" id="removeAnswer_{{i}}_{{in}}"
                                                (click)="removeElement($event.target)"
                                                style="cursor: pointer; color: #dc3545; padding-right: 5px;"
                                                nbTooltip="Remove Answer {{in+1}}" nbTooltipStatus="danger"></i>
                                        </div>
                                        <div class="col-10">
                                            <!-- <label> {{in}} </label> -->
                                            <input type="text" nbInput fullWidth fieldSize="tiny" shape="rectangle"
                                                placeholder="Name" name="name" formControlName="name">
                                        </div>
                                        <div class="col-1">
                                            <nb-checkbox (checkedChange)="toggleChange($event,answer)" name="active"
                                                formControlName="isAnswer" style="width: 100%; text-align: center;"
                                                status="primary"></nb-checkbox>
                                        </div>

                                        <!-- {{in}} -- {{answer.value.name}} -->
                                    </div>
                                </nb-accordion-item-body>
                            </nb-accordion-item>


                        </nb-accordion>

                    </div>
                </div>


            </form>

        </nb-card-body>
    </nb-card>
</div>