<div class="gfix-form">
    <nb-card [nbSpinner]="doingSomething" nbSpinnerStatus="primary">
        <nb-card-body>
            <form [formGroup]="modelForm" (ngSubmit)="onSubmit()">
                <label for="name" class="label">Name:</label>
                <input type="text" nbInput fullWidth shape="rectangle" fieldSize="small" placeholder="Name" name="name"
                    formControlName="name">

                <label for="description" class="label">Description:</label>
                <textarea rows="1" nbInput fullWidth shape="rectangle" fieldSize="small" placeholder="Description"
                    name="description" formControlName="description"></textarea>
                <div class="row">
                    <div class="col-md-6 gfix-center">
                        <label for="categoryId" class="label">Category:</label> <br>
                        <nb-select formControlName="categoryId" (selectedChange)="onChange($event)" size="small"
                            [selected]="model.categoryId" placeholder="Choose a Category" [ngStyle]="{'width':'100%'}">

                            <nb-option *ngFor="let category of categoriesByModel; let i =index" [value]="category.id">
                                {{i+1 +' - '+category.name}}
                            </nb-option>
                        </nb-select> <br>
                    </div>
                    <div class="col-md-6 gfix-center">
                        <label for="brandId" class="label">Brand:</label> <br>
                        <nb-select formControlName="brandId" [selected]="model.brandId" placeholder="Choose a Category"
                            size="small" [ngStyle]="{'width':'100%'}">

                            <nb-option *ngFor="let brand of brandsByModel; let i = index" [value]="brand.id">
                                {{i+1 +' - '+brand.name}}
                            </nb-option>
                        </nb-select>
                    </div>
                </div>

                <div class="row" style="padding: 10px 0px;">
                    <div class="col-md-6" style="line-height: 3;">
                        <label for="file" class="gfix-upload ">
                            <i class="fas fa-cloud-upload-alt"></i> Upload File
                        </label>

                        <input id="file" type='file' (change)="readURL($event.target.files[0]);" fieldSize="small"
                            accept=".png, .jpg" name="image" data-buttonText="Your label here."
                            style="display: none;" />
                        <input type="hidden" name="fileHidden" formControlName="image" /> <!-- Validation Field -->
                        {{newImageName}}
                        <img id="blah" *ngIf="model.image || imageSrc; else noImage" [src]="imageSrc || model.image"
                            alt="your image" height="100px"
                            style="display:block; margin:auto; background-color: black; border-radius: 5px; padding: 10px;" />
                        <ng-template #noImage>
                            <img id="blah" [src]="'https://mdbootstrap.com/img/Photos/Others/placeholder.jpg'"
                                alt="your image" width="100px"
                                style="display:block; margin:auto; background-color: black; border-radius: 5px; padding: 10px;" />
                        </ng-template>
                        <div class="progress" *ngIf="uploadPercent">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                [style.width]="(uploadPercent | async) +'%'">
                            </div>
                        </div>

                        <!-- <label class="custom-file-label" for="">Image</label>
              <input type="file" class="custom-file-input" accept=".png, .jpg" (change)="onUploadImage($event.target.files[0])" nbInput
                fullWidth shape="rectangle" placeholder="Image"> -->
                        <input type="text" [value]="urlImage" name="image" style="display: none;">
                    </div>
                    <div class="col-md-6 gfix-center-flex">
                        <div class="validation-checkboxes">
                            <label for="active" class="label">Active:</label>
                            <nb-checkbox (checkedChange)="toggle($event)" name="active" formControlName="active"
                                status="primary" [ngClass]="{'status-danger':!modelActive,
                              'status-success':modelActive}">
                                <span [ngClass]="{'gfix-active': modelActive,
                                     'gfix-disabled': !modelActive }">{{modelActive}}</span>
                            </nb-checkbox>
                        </div>
                    </div>
                </div>
                <!-- <p>Form value: {{ modelForm.value | json }}</p> -->
                <div class="row" style="margin-top: 20px; margin-bottom: 10px;">
                    <div class="col-md-12">
                        <button type="button" nbButton size="small" (click)="addColor()" style="width: 100%;">Add
                            Color</button>
                    </div>
                </div>
                <div formArrayName="colors">
                    <div class="row">

                        <!-- The repeated alias template -->
                        <div class="col-md-6" *ngFor="let color of colors.controls; let i=index">
                            <div class="row" [formGroupName]="i">
                                <div class="col-md-6">
                                    <label for="name_{{i}}" class="label">Color Name</label>
                                    <input fieldSize="small" type="text" nbInput fullWidth id="name_{{i}}"
                                        placeholder="title" formControlName="name">
                                </div>

                                <!-- <input placeholder="name" formControlName="name" fieldSize="small"> -->
                                <!-- <input formControlName="hexaValue" [(colorPicker)]="color.value.hexaValue"
                                    [value]="color.value.hexaValue" 
                                    [ngStyle]="{'background':color.value.hexaValue, 'border-radius': '50px', 'width':'50px', 'cursor':'pointer','color':color.value.hexaValue }" /> -->
                                <div class="col-md-3">
                                    <label for="color_{{i}}" class="label">Color</label> <br>
                                    <input formControlName="hexaValue" fieldSize="small" id="color_{{i}}" nbInput
                                        [ngStyle]="{'background':color.value.hexaValue, 'border-radius': '50px', 'width':'60px', 'cursor':'pointer','color':'rgb(255 255 255 / 0%)' }"
                                        [cpAlphaChannel]="'disabled'" [(colorPicker)]="color.value.hexaValue"
                                        [cpOutputFormat]="'hex'"
                                        (colorPickerOpen)="onEventLog('colorPickerOpen', $event)"
                                        (colorPickerClose)="onEventLog('colorPickerClose', $event, i, color.value.name)"
                                        (cpInputChange)="onEventLog('cpInputChange', $event)"
                                        (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)"
                                        (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)" autocomplete="off" />

                                </div>
                                <div class="col-md-3">
                                    <label for="" class="label" style="width: 100%;">Drop</label>
                                    <i class="fas fa-window-close fa-2x" (click)="removeColor(i,alias)"
                                        style="cursor: pointer; color: #dc3545;"></i>
                                </div>

                                <!-- <input placeholder="hexa" formControlName="hexaValue"> -->
                            </div>
                            <span [ngStyle]="{'left': (i%2) ? '75%': '25%'}" style="position: sticky;
                            top: 120px; color: #8f9bb3;
                            font-family: Open Sans, sans-serif;
                            font-size: 0.75rem;
                            font-weight: 700;
                            line-height: 1rem;">{{i+1}}</span>
                            <hr style="margin: 2px; ">

                            <!-- <button type="button" (click)="removeColor(i,alias)">remove</button> -->
                        </div>


                    </div>
                </div>

                <div class="row" style="margin-top: 20px; margin-bottom: 10px;">
                    <div class="col-md-12">
                        <button type="button" nbButton size="small" (click)="addIssue()" style="width: 100%;">Add
                            Issue</button>
                    </div>
                </div>
                <div formArrayName="issues" style="padding: 0px 10px 0px 10px;">
                    <div *ngFor="let issue of issues.controls; let i=index">
                        <ng-container [formGroupName]="i">
                            <div class="row" style="margin-bottom: -18px;">
                                <div class="col-md-6" style="padding: 2px;">
                                    <div class="form-group">
                                        <label for="title_{{i}}" class="label">Title</label>
                                        <input fieldSize="small" type="text" nbInput fullWidth id="title_{{i}}"
                                            placeholder="title" formControlName="title">
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding: 2px;">
                                    <div class="form-group">
                                        <label for="price_{{i}}" class="label">Price</label>
                                        <input fieldSize="small" type="number" nbInput fullWidth id="price_{{i}}"
                                            placeholder="price" formControlName="price">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="" class="label" style="width: 100%;">Drop</label>
                                    <div class="form-group" style="align-items: center; text-align: center;">
                                        <i class="fas fa-window-close fa-2x" (click)="removeIssue(i,alias)"
                                            style="cursor: pointer; color: #dc3545;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: -18px;">
                                <div class="col-md-10" style="padding: 2px;">
                                    <div class="form-group">
                                        <label for="description_{{i}}" class="label">Description</label>
                                        <textarea fieldSize="small" rows="1" type="text" nbInput fullWidth
                                            placeholder="description" name="description" formControlName="description"
                                            id="description_{{i}}"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2 ">
                                    <label for="title" class="label" style="width: 100%;">Active</label> <br>
                                    <div style="text-align: center;">
                                        <nb-checkbox fieldSize="small" name="active" formControlName="active"
                                            status="primary" [ngClass]="{'status-danger':!issue.value.active,
                                                                    'status-success':issue.value.active}">
                                            <span [ngClass]="{'gfix-active': issue.value.active,
                                                 'gfix-disabled': !issue.value.active }">{{issue.value.active}}</span>
                                        </nb-checkbox>
                                    </div>

                                </div>
                            </div>
                            <span style="position: sticky;
                            left: 50%; color: #8f9bb3;
                            font-family: Open Sans, sans-serif;
                            font-size: 0.75rem;
                            font-weight: 700;
                            line-height: 1rem;">{{i+1}}</span>
                            <hr style="margin: 2px; background: #8f9bb3;">
                            <!-- <div class="full-name-inputs">
                                            <label for="title">title:</label> <br>
                                            <input fieldSize="small" type="text" nbInput fullWidth placeholder="title"
                                                formControlName="title" name="title">
                                            <label for="price">price:</label>
                                            <input fieldSize="small" type="number" nbInput fullWidth placeholder="price"
                                                name="price" formControlName="price">

                                        </div>
                                        <label for="description">title:</label>
                                        <textarea rows="1" type="text" nbInput fullWidth placeholder="description"
                                            name="description" formControlName="description"></textarea> -->
                        </ng-container>
                    </div>
                </div>

                <div class="row"
                    style="padding-top: 15px; position: fixed; bottom: 7px; width: 90%; text-align: center;">
                    <div class="col-6 col-md-6" *ngIf="model.id" style="text-align: end;">
                        <input nbButton outline status="primary" size="small" type="submit" name="enviar" value="Update"
                            [disabled]="!modelForm.valid">
                    </div>
                    <div class="col-6 col-md-6" *ngIf="!model.id" style="text-align: end;">
                        <input nbButton outline status="primary" size="small" type="submit" name="enviar" value="Create"
                            [disabled]="!modelForm.valid">
                    </div>
                    <div class="col-6 col-md-6" style="text-align: initial;">
                        <button nbButton outline status="danger" size="small" type="button"
                            (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>